@use "../../scss/base/index" as v;

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: v.$header-cor;
    box-shadow: 0 6px 15px 0 rgba(5, 13, 29, 0.18);
    z-index: 1000;
}